@import "tailwindcss";


@font-face {
  font-family: 'Inter';
  src: url("../src/assets/fonts/Inter_28pt-Regular.ttf");
}

@font-face {
  font-family: 'Kavivanar';
  src: url("../src/assets/fonts/Kavivanar-Regular.ttf");
}

@font-face {
  font-family: 'Almarai';
  src: url("../src/assets/fonts/Almarai-Regular.ttf");
}

@theme{
    --font-inter: Inter, sans-serif;
    --font-kavivanar: Kavivanar, cursive;
    --font-almarai: Almarai, sans-serif;
}


body {
  background:
  radial-gradient(
    ellipse at center,
    rgba(52,52,93,0.35) 0%,
    rgba(8,8,30,0.85) 70%,
    rgba(8,8,30,1) 100%
  ),
  linear-gradient(
    135deg,
    #34345D 0%,
    #08081E 50%,
    #34345D 75%,
    #08081E 100%
  );
}
